body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav-left-side {
  overflow: hidden;
  background-color: #333;
}

.topnav-left-side a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 12px;
}

.topnav-left-side a:hover {
  background-color: black;
  color: white;
}

.topnav-right-side a.active {
  background-color: #4caf50;
  color: white;
}

.topnav-right-side {
  overflow: hidden;
  background-color: #333;
}

.topnav-right-side a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 12px;
}

.topnav-right-side a:hover {
  background-color: black;
  color: white;
}

.topnav-right-side a.active {
  background-color: #4caf50;
  color: white;
}

/* Top container CSS */
.container-top{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
  height: 90vh;
  width: 100%;
  /* background-image: url("https://images.unsplash.com/photo-1507608158173-1dcec673a2e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"); */
  background-color: rgb(26, 26, 92);
  text-align: center;
  color: white;
  padding: 1%;
}

.button-start-now{
  background-color: red;
  font-size: 150%;
  border-radius: 10%;
}

.clients-list {
  border-left: 1px solid rgba(255,255,255,.2);
}

.client > img{
  height: 80px;
  width: 120px;
  border-left: 1px solid rgba(255,255,255,.2);
  margin-left: 20px;
}
.client{
  margin-top: 50px;
  float: left;
  margin-left: 100px;
}
h1 {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  margin-top: 100px;
}

.container-middle {
  float: left;
  width: 15%;
  height: 200px;
  border: 1px solid black;
}